<ion-header>
</ion-header>

<ion-content>
  <!-- <img src="assets/imgs/fundoforca.png"> -->
  <!-- <ion-card>
    <ion-card-header> -->
  <p *ngIf="pontuacao > 1" class="pontuacao">{{pontuacao}} Pontos</p>
  <p *ngIf="pontuacao == 1" class="pontuacao">{{pontuacao}} Ponto</p>
  <p *ngIf="pontuacao == 0" class="pontuacao">{{pontuacao}} Pontos</p>

  <p *ngIf="vidas > 1" class="vida">{{vidas}} Vidas</p>
  <p *ngIf="vidas == 1" class="vida">{{vidas}} vida</p>
  <p *ngIf="vidas == 0" class="vida">{{vidas}} vidas</p>
  <!-- </ion-card-header>
    <ion-card-content> -->

  <p class="dicaDaPalavra"> {{descricao}} </p>
  <!-- <ion-list>
        <ion-item> -->
          <ion-input type="text" placeholder="Sua Resposta" data-ls-module="charCounter"
          [(ngModel)]="entradaDoUsuario">
        </ion-input>
  <!-- </ion-item>
      </ion-list> -->
  <button ion-button (click)=verificaResposta() class="botaoChute">Responder</button>
  <!-- </ion-card-content>
  </ion-card> -->
  <img src="assets/imgs/onáa1.png" class="oncaUm" id="oncaUm">
  <img src="assets/imgs/onáa2.png" class="oncaDois" id="oncaDois">
  <img src="assets/imgs/onáa3.png" class="oncaTres" id="oncaTres">
  <img src="assets/imgs/rugido.png" class="rugido" id="rugido">
  <img src="assets/imgs/indio1.png" class="indio" id="indio">
</ion-content>
