.titulo_pagina{
	text-align: center;
	color: #fff;
	background-color: #58C9B9 ;
	margin-top: 0;
	padding: 2rem;
}

.semBorda{
	border: none;
}

.ui-panelgrid .ui-panelgrid-cell{
	border: none !important;
}
.ui-panelgrid{
	border-collapse: collapse; !important;
}
.ui-widget-content{
	border: none;
}
.rodape_pagina{
	text-align: center;
	color: #fff;
	background-color: #58C9B9 ;
	padding: 2rem;
}
.btnInser{
	margin-top: 2rem;
}

.primary{
	background-color:  #30A9DE !important;
	border:1px solid #30A9DE;
}