page-por-letra {
  .pontuacao{
    float: right;
    color: #4501d1;
    font-weight: bold;
  }
  .vida{
    float: left;
    color: red;
    font-weight: bold;
  }
  .botaoChute{
    margin-top: 2rem;
  }
}
